@import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/styles/stackoverflow-dark.min.css" screen;
@import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/styles/stackoverflow-light.min.css" print;

body {
  display: flex;
  justify-content: center;
  margin: 0;
  color: #ccc;
  background-color: #111;
}

body > div {
  margin: 1in 0;
  hyphens: auto;
  text-align: justify;
  font-family: sans-serif;
  width: calc(210mm - 2in);
}

body > div a {
  color: #9cf;
}

body > div h1, body > div h2 {
  padding-bottom: .2em;
  border-bottom: .1rem solid #333;
}

body > div img {
  width: 100%;
  background-color: #fff8;
}

body > div blockquote {
  margin-left: 0;
  padding-left: 2em;
  border-left: .5em solid #333;
}

body > div table {
  width: 100%;
  margin: 1em 0;
  border-width: .2em 0;
  border-style: solid;
  border-collapse: collapse;
}

body > div thead {
  border-bottom: .1em solid;
}

body > div th, body > div td {
  padding: .5em;
}

body > div code:not(.hljs) {
  background-color: #222;
  padding: .1em .4em;
  border-radius: .2em;
}

body > div pre {
  text-align: left;
  border-radius: .2em;
}

@media screen {
  body > div hr {
    margin: 4em 8em 0 8em;
    height: 4em;
    overflow: visible;
    border: none;
    border-top: .1em solid #666;
    text-align: center;
  }

  body > div hr::after {
    content: "§";
    font-size: 2em;
    position: relative;
    top: -.67em;
    padding: 0 1em;
    background-color: #111;
  }
}

@media print {
  body {
    color: #000;
    background-color: #fff;
  }

  body > div {
    margin: 0;
  }

  body > div a {
    color: #36c;
  }

  body > div h1, body > div h2 {
    border-color: #ddd;
  }

  body > div blockquote {
    border-color: #eee;
  }

  body > div code:not(.hljs) {
    background-color: #eee;
  }

  body > div hr {
    visibility: hidden;
    break-after: page;
  }
}

